name: Check source code quality

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - "pubspec.lock"
      - "analysis_options.yaml"
      - ".github/workflows/**"

  push:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - "pubspec.lock"
      - "analysis_options.yaml"
      - ".github/workflows/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Check lints
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
      - run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --set-exit-if-changed .

  analyze:
    name: Check code analysis
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
      - run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze .
