# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Unit tests

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  unit_test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter --version

      # Get flutter dependencies.
      - name: Install dependencies
        run: flutter pub get

      # Run the unit tests.
      - name: Run unit tests
        run: flutter test
