name: Unit tests

on:
  pull_request:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - ".github/workflows/**"

  push:
    branches: ["main"]
    paths:
      - "**.dart"
      - "pubspec.yaml"
      - ".github/workflows/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_test:
    name: Run unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
      - run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Run unit tests
        run: flutter test
